* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PANTALLAS GRANDES*/
@media (min-width: 992px) {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav .nav-link {
        margin: 0 3rem;
    }

    .navbar-nav .navbar-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

/* Para pantallas pequeñas */
@media (max-width: 991px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        margin: 0.5rem 0;
    }

    .navbar-brand.d-lg-none {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .navbar-brand.d-none.d-lg-flex {
        display: none;
    }
}